<div fxLayout="row" fxLayoutWrap="wrap">
<div>Works</div>

<div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="15" fxFlex.lg="12" class="m-card-gap">
<div class=""> 
<div class="card card-1">
               <div class="text-center">
                  <div class="user-i">
                     <img src="assets/images/_" class="mb-1" width="100" height="100" alt="">
                     <div class="card-font"> <span></span></div>
                  </div>
                   
               </div>
               <div class="most-used text-center">
                  <a class="card-link" color="primary">
                     <mat-icon class="">note_add</mat-icon>
                  </a>
                  <a class="most-link" color="primary">
                     <mat-icon></mat-icon>
                  </a>
                  <a class="card-link" color="primary">
                     <mat-icon>assignment</mat-icon>
                  </a>
         </div>
         </div>
         </div>
 </div>
 

 
</div>